@import "variables";

.chip
{
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 4px 8px;
  margin: 2px;
  background-color: $primary;
  color: $on-primary;
  border-radius: 16px;
  width: min-content;
  user-select: none;
  align-items: center;
  justify-content: start;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  
  &.clickable
  {
	&:hover
	{
	  background-color: darken($primary, 10%);
	  cursor: pointer;
	}
  }
  
  
  svg
  {
	width: 14px;
	height: 14px;
	scale: none;
  }
  
  .text
  {
	white-space: nowrap;
	max-width: 12ch;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
  }
}

.chip-container
{
  display: flex;
  flex-wrap: wrap; // Ensures wrapping of items when space is limited
  gap: 8px; // Adjusts spacing between tags
  padding: 8px;
  max-width: 100%; // Ensures it adapts to parent width
  overflow: hidden; // Prevents overflow
}