@import "variables";

$animation-speed: 0.2s;

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  visibility: hidden;
  
  &.show
  {
	
	.modal-backdrop
	{
	  opacity: 1;
	  visibility: visible;
	}
	
	.modal-overlay
	{
	  .modal-content
	  {
		transform: translateY(0) scale(1);
		opacity: 1;
		visibility: visible;
		
	  }
	}
  }
    
  &.hide {

	.modal-backdrop{
	  opacity: 0;
	  visibility: hidden;
	}
	
	.modal-overlay{
	  .modal-content{
		transform: translateY(50px) scale(0.8);
		opacity: 0;
		visibility: hidden;
		
	  }
	}
  }
  
  .modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	transition: opacity $animation-speed ease-in-out, visibility $animation-speed ease-in-out;
	
  }
  
  .modal-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	
	.modal-content {
	  background: $surface;
	  color: $on-surface;
	  border-radius: 12px;
 	  display: flex;
	  flex-direction: column;
	  gap: 8px;
	  max-width: 100%;
	  max-height: 100%;
	  overflow: hidden;
	  position: relative;
	  z-index: 1001;
	  transform: translateY(50px) scale(0.8);
	  transition: transform $animation-speed ease-in-out, opacity $animation-speed ease-in-out, visibility $animation-speed ease-in-out;
	  // Modal Sizes
	  &.modal-small{
		width: 300px;
		min-height: auto;
	  }
	  
	  &.modal-medium  {
		width: 500px;
		min-height: auto;
	  }
	  
	  &.modal-large {
		width: 700px;
		min-height: auto;
	  }
	  
	}
	
	.modal-header {
	  padding: 8px 4px;
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: start;
	  border-bottom: 1px solid $background;
	  
	  h2 {
		padding: 0;
		padding-left: 4px;
		margin: 0;
		flex-grow: 1;
		user-select: none;
	  }
	  
	  .close-button {
		padding: 4px;
		color: $on-background;
		cursor: pointer;
		background: transparent;
		
		&:hover {
		  color: $on-surface;
		}
	  }
	}
	
	.modal-body {
	  overflow: hidden;
	  overflow-y: auto;
	  max-height: 70vh; // Allows scrolling if content is too long
	  max-width: 100%;
	  padding: 0 10px; // Prevents scrollbar overlay
	}
	
	.modal-footer {
	  padding: 8px;
	  gap: 8px;
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: end;
	  border-top: 1px solid $background;
	  
	  button {
		padding: 4px;
		
		svg {
		  height: 20px;
		  width: 20px;
		}
	  }
	}
	
	// Scrollbar Styling
	.modal-content::-webkit-scrollbar {
	  width: 10px;
	}
	
	.modal-content::-webkit-scrollbar-track {
	  background: $surface;
	}
	
	.modal-content::-webkit-scrollbar-thumb {
	  background: $primary;
	  border-radius: 4px;
	}
	
	.modal-content::-webkit-scrollbar-thumb:hover {
	  background: lighten($primary, 10%);
	}
	
	// Firefox Scrollbar
	.modal-content {
	  scrollbar-color: $primary $surface;
	  scrollbar-width: thin;
	}
	

  }
  
  
}
