@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 1s linear infinite;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #121212;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
  position: relative;
}

.app-fileDrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  color: white;
  font-size: 2rem;
}

.app-frame {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.app-frame .app-frame-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: #E0E0E0;
  gap: 12px;
  padding: 0 8px;
  margin-top: 8px;
}
.app-frame .app-frame-header .logo {
  width: 40px;
  height: 40px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-frame .app-frame-header h1 {
  margin: 0;
  font-size: 1.5rem;
  user-select: none;
}
.app-frame .app-frame-header button#refresh {
  color: #E0E0E0;
  cursor: pointer;
  padding: 6px;
  background: transparent;
}
.app-frame .app-frame-header button#refresh.refreshing {
  pointer-events: none;
}
.app-frame .app-frame-header button#refresh.refreshing svg {
  animation: spin 1s linear infinite;
  color: #9b54fd;
}
.app-frame .app-frame-header button#refresh:hover {
  background: #1E1E1E;
  border-radius: 8px;
}
.app-frame .app-frame-header .button-group {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.app-frame .app-details-container {
  display: flex;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  width: 40%;
}
.app-frame .app-details-container .app-details-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: #1E1E1E;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}
.app-frame .app-details-container .app-details-container.visible {
  opacity: 1;
  z-index: 1;
  pointer-events: unset;
}
.app-frame .app-details-container .app-details-container .dolly-details-header {
  display: flex;
  margin-top: 40px;
  width: 100%;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #121212;
  padding-bottom: 8px;
  position: relative;
}
.app-frame .app-details-container .app-details-container .dolly-details-header .dolly-details-header-container {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 4px 8px;
}
.app-frame .app-details-container .app-details-container .dolly-details-header .dolly-details-header-container input {
  padding-left: 8px;
  font-size: 1rem;
  background: #121212;
  color: #FFFFFF;
  transition: outline-color 0.2s ease-in-out;
  border: none;
  outline: 1px solid transparent;
  border-radius: 6px 0 0 6px;
  height: 28px;
  flex-grow: 1;
}
.app-frame .app-details-container .app-details-container .dolly-details-header .dolly-details-header-container button {
  padding: 2px 4px;
}
.app-frame .app-details-container .app-details-container .dolly-details-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 8px;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-color: #9b54fd #1E1E1E;
  scrollbar-width: thin;
}
.app-frame .app-details-container .app-details-container .dolly-details-body::-webkit-scrollbar {
  width: 10px;
}
.app-frame .app-details-container .app-details-container .dolly-details-body::-webkit-scrollbar-track {
  background: #1E1E1E;
}
.app-frame .app-details-container .app-details-container .dolly-details-body::-webkit-scrollbar-thumb {
  background: #9b54fd;
  border-radius: 4px;
}
.app-frame .app-details-container .app-details-container .dolly-details-body::-webkit-scrollbar-thumb:hover {
  background: #b886fe;
}
.app-frame .app-details-container .app-details-container .dolly-details-footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #121212;
  height: 40px;
}
.app-frame .app-details-container .app-details-container .dolly-details-footer .dolly-details-footer-container {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 4px 8px;
}
.app-frame .app-details-container .app-details-container .dolly-details-footer .dolly-details-footer-container input {
  padding-left: 8px;
  font-size: 1rem;
  background: #121212;
  color: #FFFFFF;
  transition: outline-color 0.2s ease-in-out;
  border: none;
  outline: 1px solid transparent;
  border-radius: 6px 0 0 6px;
  height: 28px;
  flex-grow: 1;
}
.app-frame .app-details-container .app-details-container .dolly-details-footer .dolly-details-footer-container button {
  padding: 2px 4px;
}
.app-frame .app-details-container .app-details-container-options {
  width: 100%;
  position: absolute;
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  border-radius: 8px;
  color: #FFFFFF;
  backdrop-filter: blur(4px) saturate(150%);
}
.app-frame .app-frame-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  padding: 8px;
  position: relative;
}
.app-frame .app-frame-content-container .app-frame-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  gap: 8px;
}
.app-frame .app-frame-content-container .app-frame-content #content {
  align-items: unset;
  padding: 0;
  overflow: hidden;
  flex-direction: column;
}
.app-frame .app-frame-content-container .app-frame-content .app-frame-row {
  display: flex;
  flex-direction: row !important;
  justify-content: start;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  padding: 2px 4px;
  background: #1E1E1E;
}
.app-frame .app-frame-content-container .app-frame-content .app-frame-row#options button svg {
  height: 20px;
  width: 20px;
}
.app-frame .app-frame-content-container .app-frame-content .app-frame-row#options button.inactive {
  color: #E0E0E0;
  background: #121212;
  border-radius: 8px;
}
.app-frame .app-frame-content-container .app-frame-content .app-frame-row#options button.inactive:hover {
  background: #1E1E1E;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  padding: 2px;
  margin: 4px 0;
  max-width: 100%;
}

.dolly-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  flex-grow: 1;
}
.dolly-list .dolly-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
  max-width: calc(100% - 4px);
  border-radius: 8px;
  background: #111111;
  color: #FFFFFF;
  padding: 4px;
}
.dolly-list .dolly-item span {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dolly-list .dolly-item .dolly-controls {
  margin-left: auto;
}
.dolly-list .dolly-item .dolly-controls button {
  padding: 2px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-grow: 1;
  align-items: center;
  justify-content: start;
  background: #1E1E1E;
  border-radius: 8px;
  padding: 6px 12px;
}
.search-bar .search-input {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
}
.search-bar .search-input.selected {
  border-color: #03DAC6;
  box-shadow: 0 0 5px #03DAC6;
}
.search-bar .search-input input {
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  width: 100%;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background: transparent;
  border: none;
  color: #FFFFFF;
}
.search-bar .search-input input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.search-bar .search-input input:disabled {
  background-color: rgba(30, 30, 30, 0.5);
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(155, 84, 253, 0.3);
  cursor: not-allowed;
}

button {
  background-color: #9b54fd;
  color: #FFFFFF;
  border: none;
  padding: 4px 16px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  user-select: none;
}
button:hover {
  background-color: #7e22fc;
}
button:active {
  background-color: #aa6dfd;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
button:disabled {
  background-color: rgba(155, 84, 253, 0.5);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}
button.dolly-option {
  background: transparent;
  color: gray;
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  gap: 2px;
  user-select: none;
  padding: 2px 8px;
  border-radius: 8px;
}
button.dolly-option svg {
  height: 16px;
}
button.dolly-option:hover {
  color: #FFFFFF;
}
button.dolly-option:hover:active {
  color: #FFFFFF;
}
button.dolly-option:hover.selected {
  color: #FFFFFF;
}
button.dolly-option:active {
  color: #FFFFFF;
}
button.dolly-option.selected {
  color: #FFFFFF;
}
button.dolly-option:disabled {
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}
button.toggle.surface.inactive {
  color: #FFFFFF;
  background: #1E1E1E;
  border-radius: 8px;
}
button.toggle.surface.inactive:hover {
  background: #111111;
}
button.toggle.inactive {
  color: #E0E0E0;
  background: #121212;
  border-radius: 8px;
}
button.toggle.inactive:hover {
  background: #1E1E1E;
}

#dollyForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 1.5rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
.form-item.row {
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.form-item label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  color: #FFFFFF;
  gap: 8px;
}
.form-item label svg {
  height: 20px;
}
.form-item input {
  flex-grow: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  background: #121212;
  color: #FFFFFF;
  transition: outline-color 0.2s ease-in-out;
  border: none;
  outline: 1px solid transparent;
  width: 100%;
}
.form-item input:focus {
  border-color: #9b54fd;
  outline: 1px solid #9b54fd;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.error-message {
  background-color: #CF6679;
  color: #FFFFFF;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.success-message {
  background-color: #4CAF50;
  color: #FFFFFF;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.info-message {
  background-color: #2196F3;
  color: #FFFFFF;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.app-table-container {
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  color: #FFFFFF;
  position: relative;
  min-height: 0;
  border-radius: 8px;
  overflow: hidden;
  width: 80%;
}

.table-wrapper {
  background-color: #1E1E1E;
  flex-shrink: 0; /* Prevents it from shrinking */
  position: sticky;
  top: 0;
  z-index: 2;
  margin-right: 10px;
}
.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}
.table-wrapper table thead th {
  padding: 10px;
  border-bottom: 1px solid #121212;
  text-align: left;
  background: #1E1E1E;
  color: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 3; /* Ensures it stays above scrolling content */
  width: 30%;
  user-select: none;
}
.table-wrapper table thead th .th-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: start;
}
.table-wrapper table thead th svg {
  height: 20px;
  width: 20px;
}
.table-wrapper table thead th.name {
  width: calc(100% - 40px - 40px - 30%);
}
.table-wrapper table thead th.padded-cell {
  width: 40px;
}

.table-body {
  overflow-anchor: none;
  overflow-y: auto;
  height: calc(100vh - 140px);
  scrollbar-color: #9b54fd #1E1E1E;
  scrollbar-width: thin;
}
.table-body::-webkit-scrollbar {
  width: 10px;
}
.table-body::-webkit-scrollbar-track {
  background: #1E1E1E;
}
.table-body::-webkit-scrollbar-thumb {
  background: #9b54fd;
  border-radius: 4px;
}
.table-body::-webkit-scrollbar-thumb:hover {
  background: #b886fe;
}
.table-body table {
  width: 100%;
  border-collapse: collapse;
}
.table-body table tr {
  transition: background-color 0.2s ease-in-out;
}
.table-body table tr:hover {
  background-color: #191919;
}
.table-body table tr:hover .controls-container {
  opacity: 1;
}
.table-body td {
  padding: 8px;
  color: #FFFFFF;
  width: 30%;
}
.table-body td.name {
  width: calc(100% - 40px - 40px);
  user-select: none;
}
.table-body td.name .tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
  max-width: 100%;
  overflow: hidden;
}
.table-body td.padded-cell {
  width: 40px;
}
.table-body td.padded-cell.selected svg {
  color: #9b54fd;
}
.table-body td.padded-cell.unselected svg {
  color: #333333;
}
.table-body td .controls-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: end;
  align-items: center;
  color: #FFFFFF;
  transition: opacity 0.2s ease-in-out;
}
.table-body td .controls-container button {
  flex-direction: column;
  gap: 1px;
  padding: 2px 8px;
}
.table-body td .controls-container button span {
  font-size: 12px;
}

.chip {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 4px 8px;
  margin: 2px;
  background-color: #9b54fd;
  color: #FFFFFF;
  border-radius: 16px;
  width: min-content;
  user-select: none;
  align-items: center;
  justify-content: start;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.chip.clickable:hover {
  background-color: #7e22fc;
  cursor: pointer;
}
.chip svg {
  width: 14px;
  height: 14px;
  scale: none;
}
.chip .text {
  white-space: nowrap;
  max-width: 24ch;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
.chip button {
  background: transparent;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  padding: 2px;
  border-radius: 50%;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
  max-width: 100%;
  overflow: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 1s linear infinite;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
.notification {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-grow: 1;
}
.notification .message {
  background: #1E1E1E;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 2px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.notification .message.error {
  background-color: #CF6679;
  color: #FFFFFF;
}
.notification .message.success {
  background-color: #4CAF50;
  color: #FFFFFF;
}
.notification .message.info {
  background-color: #2196F3;
  color: #FFFFFF;
}
.notification .message .message-content {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notification .message .message-content svg {
  height: 20px;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0 4px;
  align-items: center;
  justify-content: center;
}
.social-media .social-button {
  padding: 4px;
  color: #E0E0E0;
  cursor: pointer;
  background: transparent;
}
.social-media .social-button.inactive {
  color: red !important;
}
.social-media .social-button.active {
  color: #03DAC6;
}
.social-media .social-button:hover {
  background: #1E1E1E;
  border-radius: 8px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  visibility: hidden;
}
.modal-container.show .modal-backdrop {
  opacity: 1;
  visibility: visible;
}
.modal-container.show .modal-overlay .modal-content {
  transform: translateY(0) scale(1);
  opacity: 1;
  visibility: visible;
}
.modal-container.hide .modal-backdrop {
  opacity: 0;
  visibility: hidden;
}
.modal-container.hide .modal-overlay .modal-content {
  transform: translateY(50px) scale(0.8);
  opacity: 0;
  visibility: hidden;
}
.modal-container .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.modal-container .modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.modal-container .modal-overlay .modal-content {
  background: #1E1E1E;
  color: #FFFFFF;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1001;
  transform: translateY(50px) scale(0.8);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.modal-container .modal-overlay .modal-content.modal-small {
  width: 300px;
  min-height: auto;
}
.modal-container .modal-overlay .modal-content.modal-medium {
  width: 500px;
  min-height: auto;
}
.modal-container .modal-overlay .modal-content.modal-large {
  width: 700px;
  min-height: auto;
}
.modal-container .modal-overlay .modal-header {
  padding: 8px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid #121212;
}
.modal-container .modal-overlay .modal-header .modal-header-icon {
  padding: 0 4px;
}
.modal-container .modal-overlay .modal-header h2 {
  padding: 0;
  padding-left: 4px;
  margin: 0;
  flex-grow: 1;
  user-select: none;
}
.modal-container .modal-overlay .modal-header .close-button {
  padding: 4px;
  color: #E0E0E0;
  cursor: pointer;
  background: transparent;
}
.modal-container .modal-overlay .modal-header .close-button:hover {
  color: #FFFFFF;
}
.modal-container .modal-overlay .modal-body {
  overflow: hidden;
  overflow-y: auto;
  max-height: 70vh;
  max-width: 100%;
  padding: 0 10px;
  display: flex;
}
.modal-container .modal-overlay .modal-body.no-scroll {
  overflow-y: hidden;
  padding: unset;
}
.modal-container .modal-overlay .modal-footer {
  padding: 8px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  border-top: 1px solid #121212;
}
.modal-container .modal-overlay .modal-footer button {
  padding: 4px;
}
.modal-container .modal-overlay .modal-footer button svg {
  height: 20px;
  width: 20px;
}
.modal-container .modal-overlay .modal-content::-webkit-scrollbar {
  width: 10px;
}
.modal-container .modal-overlay .modal-content::-webkit-scrollbar-track {
  background: #1E1E1E;
}
.modal-container .modal-overlay .modal-content::-webkit-scrollbar-thumb {
  background: #9b54fd;
  border-radius: 4px;
}
.modal-container .modal-overlay .modal-content::-webkit-scrollbar-thumb:hover {
  background: #b886fe;
}
.modal-container .modal-overlay .modal-content {
  scrollbar-color: #9b54fd #1E1E1E;
  scrollbar-width: thin;
}

.dolly-details-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.dolly-renderer-path-details {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px 8px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  user-select: none;
  color: #FFFFFF;
  backdrop-filter: blur(2px) saturate(150%);
  border-top-right-radius: 8px;
  background: transparent;
  border-top: 1px solid rgba(18, 18, 18, 0.2);
  border-right: 1px solid rgba(18, 18, 18, 0.2);
}
.dolly-renderer-path-details .dolly-renderer-path-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 12px;
  font-weight: lighter;
  flex-grow: 1;
}
.dolly-details {
  display: block;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: #1E1E1E;
  flex-grow: 1;
}

.dolly-renderer-container {
  display: block;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: #1E1E1E;
  flex-grow: 1;
}
.dolly-renderer-container canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.o-pad {
  position: relative;
  background: #9b54fd;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  top: 50px;
  margin: 0 auto;
}
.o-pad:after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 20%;
  height: 20%;
  top: 50%;
  left: 50%;
  background: #ddd;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: all 0.25s;
  cursor: pointer;
}
.o-pad:hover:after {
  width: 30%;
  height: 30%;
}
.o-pad a {
  display: block;
  position: absolute;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 50%;
  height: 50%;
  text-align: center;
  transform: rotate(45deg);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.o-pad a:before {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s;
  cursor: pointer;
  display: none;
}
.o-pad a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 5px;
  border-style: solid;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all 0.25s;
}
.o-pad a.up {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -20%) rotate(45deg);
  border-top-left-radius: 50%;
  z-index: 1;
}
.o-pad a.up:hover {
  background: linear-gradient(315deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.4) 100%);
}
.o-pad a.up:before {
  left: 57%;
  top: 57%;
}
.o-pad a.up:after {
  left: 53%;
  top: 53%;
  border-width: 0 13px 19px 13px;
  border-color: transparent transparent #FFFFFF transparent;
}
.o-pad a.up:active:after {
  border-bottom-color: #333;
}
.o-pad a.down {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%) rotate(45deg);
  border-bottom-right-radius: 50%;
  z-index: 1;
}
.o-pad a.down:hover {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.4) 100%);
}
.o-pad a.down:before {
  left: 43%;
  top: 43%;
}
.o-pad a.down:after {
  left: 47%;
  top: 47%;
  border-width: 19px 13px 0px 13px;
  border-color: #FFFFFF transparent transparent transparent;
}
.o-pad a.down:active:after {
  border-top-color: #333;
}
.o-pad a.left {
  top: 50%;
  right: 50%;
  transform: translate(-20%, -50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  border: none;
}
.o-pad a.left:hover {
  background: linear-gradient(225deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.4) 100%);
}
.o-pad a.left:before {
  left: 57%;
  top: 43%;
}
.o-pad a.left:after {
  left: 53%;
  top: 47%;
  border-width: 13px 19px 13px 0;
  border-color: transparent #FFFFFF transparent transparent;
}
.o-pad a.left:active:after {
  border-right-color: #333;
}
.o-pad a.right {
  top: 50%;
  left: 50%;
  transform: translate(20%, -50%) rotate(45deg);
  border-top-right-radius: 50%;
  border: none;
}
.o-pad a.right:hover {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.4) 100%);
}
.o-pad a.right:before {
  left: 43%;
  top: 57%;
}
.o-pad a.right:after {
  left: 47%;
  top: 53%;
  border-width: 13px 0 13px 19px;
  border-color: transparent transparent transparent #FFFFFF;
}
.o-pad a.right:active:after {
  border-left-color: #333;
}
.o-pad a:hover:after {
  left: 50%;
  top: 50%;
}

.about-horizontal {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  gap: 1.5rem;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.about-info {
  flex: 1;
}
.about-info h2 {
  margin: 0;
  font-size: 1.8rem;
}
.about-info .about-tagline {
  color: gray;
  margin-bottom: 0.5rem;
  font-style: italic;
}
.about-info .about-description {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}
.about-info .about-links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-around;
}
.about-info .about-links a {
  text-decoration: none;
  font-size: 24px;
  border-radius: 8px;
  font-weight: 500;
  transition: background 0.3s;
  color: #E0E0E0;
  cursor: pointer;
  background: transparent;
  padding: 8px;
}
.about-info .about-links a:hover {
  background: #121212;
}

.settings-container {
  flex-grow: 1;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 70vh;
}
.settings-container .settings-context {
  width: 140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-right: 1px solid #121212;
}
.settings-container .settings-context .settings-context-item {
  display: flex;
  flex-direction: row;
  gap: 12px;
  transition: background-color 0.3s ease-in-out;
  align-items: center;
  justify-content: start;
  user-select: none;
  cursor: pointer;
  padding: 12px 8px;
}
.settings-container .settings-context .settings-context-item svg {
  min-height: 24px;
  min-width: 24px;
  aspect-ratio: 1/1;
}
.settings-container .settings-context .settings-context-item label {
  cursor: inherit;
}
.settings-container .settings-context .settings-context-item:hover:not(.active) {
  background: #1b1b1b;
}
.settings-container .settings-context .settings-context-item.active {
  background: #111111;
}
.settings-container .settings-detail {
  width: calc(100% - 140px);
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
  padding: 14px 8px;
  background: #1b1b1b;
}
.settings-container .settings-detail hr {
  width: 100%;
  padding: 4px 0;
  border: none;
  border-bottom: 1px solid #141414;
  transform: translateY(-50%);
  height: 10px;
}
.settings-container .settings-detail .settings-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #121212;
  background: #1E1E1E;
  margin-bottom: 12px;
}
.settings-container .settings-detail .settings-group .settings-group-label {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: start;
  text-align: left;
  padding: 8px 12px;
  border-bottom: 1px solid #121212;
}
.settings-container .settings-detail .settings-group .settings-group-description {
  font-size: 14px;
  font-style: italic;
}
.settings-container .settings-detail .settings-group .settings-indicator-container {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.settings-container .settings-detail .settings-group .settings-indicator-container .settings-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: #555;
  box-shadow: none;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  margin-right: 20px;
}
.settings-container .settings-detail .settings-group .settings-indicator-container .settings-indicator.off {
  background-color: #555;
  box-shadow: none;
}
.settings-container .settings-detail .settings-group .settings-indicator-container .settings-indicator.red {
  background-color: #ff1e1e;
  box-shadow: 0 0 6px rgba(255, 30, 30, 0.24), 0 0 12px rgba(255, 30, 30, 0.18), 0 0 20px rgba(255, 30, 30, 0.12);
}
.settings-container .settings-detail .settings-group .settings-indicator-container .settings-indicator.green {
  background-color: #00ff33;
  box-shadow: 0 0 6px rgba(0, 255, 51, 0.24), 0 0 12px rgba(0, 255, 51, 0.18), 0 0 20px rgba(0, 255, 51, 0.12);
}
.settings-container .settings-detail .settings-group .settings-indicator-container .settings-indicator.yellow {
  background-color: #ffcc00;
  box-shadow: 0 0 6px rgba(255, 204, 0, 0.24), 0 0 12px rgba(255, 204, 0, 0.18), 0 0 20px rgba(255, 204, 0, 0.12);
}
.settings-container .settings-detail .settings-group .settings-indicator-container .settings-indicator-label {
  font-size: 16px;
}
.settings-container .settings-detail .settings-group .settings-toggle-switch-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.settings-container .settings-detail .settings-group .settings-toggle-switch-container .settings-indicator-label {
  font-size: 20px;
}
.settings-container .settings-detail .settings-group .settings-toggle-switch-container .settings-toggle-switch-input input[type=checkbox] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background: #555;
  outline: none;
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 0.7s;
  cursor: pointer;
}
.settings-container .settings-detail .settings-group .settings-toggle-switch-container .settings-toggle-switch-input input[type=checkbox]::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  top: 0;
  left: 0;
  background: #FFFFFF;
  transform: scale(1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: left 0.5s, background 0.3s;
}
.settings-container .settings-detail .settings-group .settings-toggle-switch-container .settings-toggle-switch-input input[type=checkbox]:checked {
  background: #00ff33;
}
.settings-container .settings-detail .settings-group .settings-toggle-switch-container .settings-toggle-switch-input input[type=checkbox]:checked::before {
  left: 20px;
}
.settings-container .settings-detail .settings-group .settings-toggle-switch-container .settings-toggle-switch-input input[type=checkbox]:disabled {
  background: #555;
  cursor: not-allowed;
}
.settings-container .settings-detail .settings-group .settings-toggle-switch-container .settings-toggle-switch-input input[type=checkbox]:disabled::before {
  background: white;
}
.settings-container .settings-detail .settings-group .settings-toggle-switch-container .settings-toggle-switch-input input[type=checkbox]:checked:disabled {
  background: #99ffad;
}
.settings-container .settings-detail .settings-group .settings-group-content {
  display: flex;
  width: calc(100% - 12px);
  gap: 18px;
  flex-direction: column;
}
.settings-container .settings-detail .settings-group .settings-group-content:last-child {
  margin-bottom: 12px;
}
.settings-container .settings-detail .settings-group .settings-group-content .settings-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: calc(100% - 12px);
  margin-left: 24px;
}
.settings-container .settings-detail .settings-group .settings-group-content .settings-item label {
  flex-grow: 1;
  text-align: start;
}
.settings-container .settings-detail .settings-group .settings-group-content .settings-item button {
  margin-right: 20px;
}

.settings-about {
  position: relative;
  width: 100%;
  max-height: 70vh;
  height: 100%;
  display: flex;
}
.settings-about .settings-about-bg {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
}
.settings-about .settings-about-bg .settings-about-bg-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px 8px #1b1b1b inset;
  background: url("/images/duin.jpg") center center no-repeat;
  background-size: cover;
  width: 60%;
  height: 100%;
}
.settings-about .settings-about-bg .settings-about-bg-frame img {
  display: none;
}
.settings-about .settings-about-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.settings-about .settings-about-content h1 {
  margin: 0;
}
.settings-about .settings-about-content ul {
  display: inline-block;
}
.settings-about .settings-about-content ul li {
  margin-bottom: 12px;
}
.settings-about .settings-about-content ul li .social-icon {
  width: 180px;
}
.settings-about .settings-about-content ul li .social-icon a {
  background: #212121;
  padding: 8px 12px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  text-decoration: none;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid #121212;
}
.settings-about .settings-about-content ul li .social-icon a label {
  cursor: pointer;
}
.settings-about .settings-about-content ul li .social-icon a:hover {
  background: #1E1E1E;
}

/*# sourceMappingURL=app.css.map */
