<div class="settings-about">
    <div class="settings-about-bg">
        <div class="settings-about-bg-frame"> 
            <img src="images/duin.jpg" alt=""/>
        </div>
    </div>
    <div class="settings-about-content">
        <h1>Duin</h1>
        <ul>
            <AboutSocialIcon Label="Ko-Fi" Icon="fa-solid fa-mug-saucer" Link="https://ko-fi.com/Duinrahaic" />
            <AboutSocialIcon Label="Patreon" Icon="fa-brands fa-patreon" Link="https://patreon.com/Duinrahaic" />
            <AboutSocialIcon Label="Twitter/X" Icon="fa-brands fa-x-twitter" Link="https://x.com/Duinrahaic" />
            <AboutSocialIcon Label="Bluesky" Icon="fa-brands fa-bluesky" Link="https://bsky.app/profile/duinrahaic.app" />
            <AboutSocialIcon Label="Github" Icon="fa-brands fa-github" Link="https://github.com/Duinrahaic" />
        </ul>
    </div>
</div>