<div class="about-horizontal">
    <img class="profile-img" src="https://github.com/Duinrahaic.png" alt="Duinrahaic's Profile Image" />

    <div class="about-info">
        <h2>Duinrahaic</h2>
        <p class="about-tagline">Developer • Tinkerer • Virtual Bunny</p>
        <p class="about-description">
            I build things with code — mostly for fun, sometimes for the world.
            You can support me or connect with me below!
        </p>
    </div>
</div>
<div class="about-horizontal">
    <div class="about-info">
        <div class="about-links">
            <SocialIcon Icon="fa-solid fa-mug-saucer" Link="https://ko-fi.com/Duinrahaic" />
            <SocialIcon Icon="fa-brands fa-patreon" Link="https://patreon.com/Duinrahaic" />
            <SocialIcon Icon="fa-brands fa-x-twitter" Link="https://x.com/Duinrahaic" />
            <SocialIcon Icon="fa-brands fa-bluesky" Link="https://bsky.app/profile/duinrahaic.app" />
            <SocialIcon Icon="fa-brands fa-github" Link="https://github.com/Duinrahaic" />
        </div>
    </div>
</div>