<div class="chip ">
    <Blazicon Svg="Lucide.Tag"/>
    <div class="text">
        @Tag
    </div>
    @if (CanClick)
    {
        <button  @onclick="OnClickHandler">
            <Blazicon Svg="Lucide.X"/>
        </button>
    }
</div>

@code{

    [Parameter] public bool CanClick { get; set; } = false;
    [Parameter] public string Tag { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> OnClick { get; set; }

    private void OnClickHandler()
    {
        if (!CanClick) return;
        OnClick.InvokeAsync(Tag);
    }

}