@using VRCDollyManager.Services.OSC
@inject IOscService OscService
@implements IDisposable
<button class="social-button @(_isConnected ? "active" : "inactive")">
    <Blazicon Svg="Lucide.Signal"/>
</button>

@code {
    
    private bool _isConnected = false;
    
    protected override void OnInitialized()
    {
        _isConnected = OscService.IsConnected;
        OscService.OnConnectionStateChanged += UpdateConnection;
    }

    private void UpdateConnection(object? sender, OSCServiceConnectionEvent e)
    {
        _isConnected = e.Connected;
        InvokeAsync(StateHasChanged);
    }


    public void Dispose()
    {
        OscService.OnConnectionStateChanged -= UpdateConnection;
    }

}